.redTitle{
  color: red;
};

mat-card{
  padding:0;
  margin: 5px;
  position: relative;
  img{
    width: 100%;
    height: 200px;
  };
  .eventDataContainer{
    width: 100%;
    padding: 10px 15px;
  }
  .overlay{
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: pointer;
    background-color: #fff;
    opacity: 0;
    transition: 0.3s ease;
  }
}


mat-card:hover .overlay {
opacity: 0.3;
}
