nav {
  background: rgb(248, 132, 151);
  color: white;
  height: 45px;
  h2{
    margin: 0;
    display: inline-block;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  };
  ul{
    margin: 0;
    float: right;
    li{
      display: inline-block;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      a{
        cursor: pointer;
        font-weight: 500;
      };
    };
  };
};
#contantContainer{
  padding-top: 30px;
}
